@page
@model Nivora.IdentityManager.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin";
}

<h2>Admin Panel</h2>

<ul class="list-group" style="width: 300px;">
    <li class="list-group-item"><a asp-page="/Admin/Users">Manage Users</a></li>
    <li class="list-group-item"><a asp-page="/Admin/Roles">Manage Roles</a></li>
    <li class="list-group-item"><a asp-page="/Admin/Tokens">Generate Admin Tokens</a></li>
</ul>
