@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Nivora Identity Manager</h1>
    <p>A lightweight user management &amp; admin panel demo.</p>
    <a asp-page="/Register" class="btn btn-primary me-2">Register</a>
    <a asp-page="/Login" class="btn btn-outline-primary">Login</a>
</div>
